/* add your CSS here */
body{
	width: 340px;
}

.border{
	border: solid #bdbaba;
	padding: 10px;
}

.spacing{
	padding: 0px 20px 0px 20px;
}

.italic{
	font-style: italic;
}

.bold{
	font-weight: bold;
}

.content{
	padding-bottom: 25px;
}

.picture{
	padding-bottom: 10px;
	width: 300px;
}

ul{
	list-style-type: none;
}